@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 
}


.exam-section{
  background: url('./assets/bg (2).jpeg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* margin-top: -88px; */
}


.banner-bg{
  background: url('./assets/bg.svg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-top: -88px;
}


.nav-bg {
  backdrop-filter: blur(50px);
}


body {
  font-family: 'Hind Siliguri', sans-serif;
  /* background: #000; */
}




.info_item {
  /* width: 350px; */
  height: 40px;
  background-color: rgba(255, 255, 255, 0.126);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4rem;
  border-top-left-radius: 0%;
  color: #000000;
  position: relative;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.info_item_img {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  left: 0%;
  border-radius: 100%;
  border-top-left-radius: 0%;
  background-color: #FFC000;
  backdrop-filter: blur(50px);
  color: #ffffff;
  padding: .5rem;
}

.info_item{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.form-bg{
  backdrop-filter: blur(5px);
}



body{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}






/* loader  */
.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #099b72;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 #099b72, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 #099b72, 100px 0 #099b72, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 #099b72, 110px 0 #099b72, 100px 0 #099b72, 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 #099b72, 120px 0 #099b72, 110px 0 #099b72, 100px 0 #099b72;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 #099b72, 120px 0 #099b72, 110px 0 #099b72;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #099b72, 120px 0 #099b72;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #099b72;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}